name: Launcher Build
on:
  workflow_dispatch:
  push:
    branches: [ master ]
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build-launcher:
    runs-on: windows-2022
    
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install Dependencies
        run: npm ci
        shell: bash

      - name: Build
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run build
        shell: bash

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Edengard-Setup
          path: dist/*.exe
